@media (max-width: 991px) {
    .offcanvas-collapse {
      position: fixed;
      top: 72px;
      /* Height of navbar */
      bottom: 0;
      left: 100%;
      width: 100%;
      /* padding-right: 1rem;
      padding-left: 1rem; */
      overflow-y: auto;
      visibility: hidden;
      background-color: #fff;
      transition-timing-function: ease-in-out;
      transition-duration: .3s;
      transition-property: left, visibility;
      /* padding-top: 25px; */
    }
  
    .offcanvas-collapse.open {
      left: 0;
      visibility: visible;
    }
  }
  
  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }
  
  .nav-scroller .nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    color: rgba(255, 255, 255, 0.75);
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
  
  .nav-underline .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
    color: #6c757d;
  }
  
  .nav-underline .nav-link:hover {
    color: #007bff;
  }
  
  .nav-underline .active {
    font-weight: 500;
    color: #343a40;
  }
  
  .text-white-50 {
    color: rgba(255, 255, 255, 0.5);
  }
  
  .bg-purple {
    background-color: #6f42c1;
  }
  
  .lh-100 {
    line-height: 1;
  }
  
  .lh-125 {
    line-height: 1.25;
  }
  
  .lh-150 {
    line-height: 1.5;
  }
  
  .hamburger-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative;
  }
  .hamburger-box:focus{
    outline: none;
  }
  
  .hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px;
  }
  
  .hamburger-inner.js-hamburger {
    background-color: #1c212b;
  }
  
  .hamburger-inner.js-hamburger:before {
    background-color: #1c212b;
  }
  
  .hamburger-inner.js-hamburger::after {
    background-color: #1c212b;
  }
  
  .hamburger-inner,
  .hamburger-inner::before,
  .hamburger-inner::after {
    width: 35px;
    height: 3px;
    background-color: #1c212b;
    border-radius: 3px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
  }
  
  .hamburger-inner::before,
  .hamburger-inner::after {
    content: "";
    display: block;
  }
  
  .hamburger-inner::before {
    top: -10px;
  }
  
  .hamburger-inner::after {
    bottom: -10px;
  }
  
  .hamburger--elastic .hamburger-inner {
    top: 6px;
    transition-duration: 0.275s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .hamburger--elastic .hamburger-inner::before {
    top: 10px;
    transition: opacity 0.125s 0.275s ease;
  }
  
  .hamburger--elastic .hamburger-inner::after {
    top: 20px;
    transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .hamburger--elastic.is-active .hamburger-inner {
    transform: translate3d(0, 10px, 0) rotate(135deg);
    transition-delay: 0.075s;
  }
  
  .hamburger--elastic.is-active .hamburger-inner::before {
    transition-delay: 0s;
    opacity: 0;
  }
  
  .hamburger--elastic.is-active .hamburger-inner::after {
    transform: translate3d(0, -20px, 0) rotate(-270deg);
    transition-delay: 0.075s;
  }