.modal{
  &-content{
    border: 1px solid transparent;
    border-radius: 20px;
  }
  &-header{
    border-bottom: 1px solid transparent;
    padding: 2rem 0rem 0rem 0rem;
    justify-content: center;

    &.modal-header-border{
      border-bottom: 1px solid #dee2e6;
      padding: 1rem 0rem 1rem 0rem;
    }
  }

  &-header-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0rem 0rem 0rem;
  }

  &-text{
    font-family: Roboto;
    font-size: 17px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #474747;
  
  }

  &-title{
    font-family: Roboto;
    font-size: 17px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
  }

  &-body{
    padding: 1rem 2rem;
  }
  &-content-grid{
    strong{
      text-align: center;
    }
  }
  &-grid-three{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin: 2rem 0;
  }
  &-link{
    font-weight: 500;
    color: #9d3399;
    text-decoration: underline;
  }
  &-footer{
    border-top: 1px solid transparent;
    padding: 0rem 2rem 2rem 0rem;
  }

  &-footer-center{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0rem 0rem 2rem 0rem;
  }
}

