.main-session {
  height: 100vh;
  width: 100%;
}

.session-grid {
  display: grid;
  grid-template-columns: 35% 65%;
  height: 100%;

  @include respond-to(xs) {
    grid-template-columns: 100%;
  }

  @include respond-to(sm) {
    grid-template-columns: 100%;
  }

  @include respond-to(md) {
    grid-template-columns: 100%;
  }
}

.session-form-div {
  background-color: $white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px;
  position: relative;

  img {
    width: 140px;
    margin-bottom: 30px;
  }

  h4 {
    font-size: 20px;
    font-weight: $bold;
    color: $black;
  }

  p {
    color: $gray;
    font-size: 15px;
    font-weight: $regular;
  }

  .label-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .link-custom {
    color: $primary;
    font-size: 12px;

    &:hover {
      color: $secondary;
    }
  }
}

.session-form-footer {
  width: 100%;
  position: absolute;
  bottom: 20px;
  left: 0;

  p {
    text-align: center;
    font-size: 12px;
  }
}

.session-info {
  background-image: url("https://images.unsplash.com/photo-1581952976147-5a2d15560349?ixlib=rb-1.2.1&auto=format&fit=crop&w=1051&q=80");
  @include bg(cover, no-repeat, center);
  position: relative;
  padding: 60px 80px;
  z-index: 1;

  @include respond-to(xs) {
    display: none;
  }

  @include respond-to(sm) {
    display: none;
  }

  @include respond-to(md) {
    display: none;
  }

  &::before {
    @include pseudo();
    @include size(100%);
    background-color: rgba($white, 0.4);
    left: 0;
    top: 0;
    z-index: -1;
  }
}

.session-info-text {
  width: 55%;

  @include respond-to(xs) {
    width: 100%;
  }

  @include respond-to(sm) {
    width: 100%;
  }

  h2 {
    font-weight: $bold;
    font-size: 30px;
    color: $black;
    margin-bottom: 20px;
    font-family: $font;

    @include respond-to(xs) {
      font-size: 24px;
    }

    @include respond-to(sm) {
      font-size: 24px;
    }
  }

  p {
    color: #585e59;
    font-size: 18px;
    font-weight: $regular;

    @include respond-to(xs) {
      font-size: 16px;
    }

    @include respond-to(sm) {
      font-size: 16px;
    }
  }
}

.session-info-quote {
  bottom: 35px;
  position: absolute;
}

.session-blockquote {
  background-color: $white;
  padding: 18px;
  width: 375px;
  border-radius: 10px;
  position: relative;
  margin-bottom: 20px;

  @include respond-to(xs) {
    width: calc(100% - 20px);
  }

  @include respond-to(sm) {
    width: calc(100% - 20px);
  }

  &::before {
    @include pseudo();
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #fff;
    bottom: -10px;
  }

  p {
    margin-bottom: 0;
    font-style: italic;
    color: $black;
    font-size: 15px;
    line-height: 21px;
  }
}

.session-blockquote-author {
  display: flex;

  img {
    border-radius: 50%;
    height: 55px;
    width: 55px;
    object-fit: cover;
    border: 2px solid white;
  }

  &-name {
    font-size: 15px;
    color: $black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15px;

    h4 {
      font-weight: $bold;
      font-size: 15px;
      margin-bottom: 0;
    }
  }
}

.session-form {
  .form-group {
    margin-bottom: 18px;
    small{
      color: #721c24;
      background-color: #f8d7da;
      border-color: #f5c6cb;
    }

    .form-group-flexrow{
      display: flex;
      align-items: center;
      flex-direction: row;
      span{
        margin-left:1rem;
        color:#aeb5bd;
        font-size: 12px;
      }
    }
    label.input-group-text{
      margin-bottom: 0;
      background-color: #dee2e6;
    }
  }


  .form-control {
    margin-bottom: 0;
  }

  .descripcion-input {
    font-size: 10px;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 5px;
  }

  .link-login {
    margin-bottom: 0;
  }
}

.form-group{
  small{
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    padding: 10px;
  }
}

.forgot-password-description {
  font-size: 13px !important;
}

.session-form-two-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 13px;
  @include respond-to(xs){
    grid-template-columns: 1fr;
  }
}
.session-form-three-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0 13px;
  @include respond-to(xs){
    grid-template-columns: 1fr;
  }
}

.accept-terms label {
  font-size: 11px;

  a.link-custom {
    font-size: 11px;
  }
}

.accept-packaging  {
  label{
    font-size: 11px;
    color: $gray;
    font-weight: $medium;
    &.font-13{
      font-size: 13px;
    }
  }
}

label.color-gray{
  font-family: $font;
  font-size: 12px;
  font-weight: $medium;
  color: #aeb5bd;
}


.custom-select{
  background: $white url(../img/icons/arrowDown.png) no-repeat right .75rem center;
}

.custom-links{
  font-size: 16px;
  font-weight: $bold;
  color: $primary;
  margin: 2rem 0;
  &.underline{
    text-decoration: underline;
  }
  &.font-14{
    font-size: 14px;
  }
}

.section-grid{
  display: grid;
  &.section-gridtwo{
    grid-template-columns: 25% 75%;
    gap: 2rem;
    @include respond-to(xs){
      grid-template-columns: 1fr;
    }
    @include respond-to(sm){
      grid-template-columns: 1fr;
    }
    @include respond-to(md){
      grid-template-columns: 1fr;
    }
    &.grid-70{
      grid-template-columns: 70% 30%;
      @include respond-to(xs){
        grid-template-columns: 1fr;
      }
      @include respond-to(sm){
        grid-template-columns: 1fr;
      }
      @include respond-to(md){
        grid-template-columns: 1fr;
      }
    }
    &.grid-50{
      grid-template-columns: 50% 50%;
      @include respond-to(xs){
        grid-template-columns: 1fr;
      }
      @include respond-to(sm){
        grid-template-columns: 1fr;
      }
      @include respond-to(md){
        grid-template-columns: 1fr;
      }
    }
  }
}
.card-general{
  border-radius: 10px;
  border: 1px solid $shadowColor;
  padding: 1.5rem;
  &-img{
    display: flex;
    justify-content: center;
    img{
      width: 50%;
    }
  }
  &-description{
    p{
      font-size: 14px;
      color: $gray;
      font-family: $font;
      &:nth-child(2){
        font-weight: $medium;
      }
    }
  }
}
.section-quetions{
  margin-top: 2rem;
  p{
    font-size: 12px;
    line-height: 0.92;
    color: $gray;
    font-family: $font;
    strong  {
      color: $black;
    }
  }
}

.section-grid-setting{
  padding: 0 2rem;
  @include respond-to(xs){
    padding: 0;
  }
  @include respond-to(sm){
    padding: 0;
  }
  @include respond-to(md){
    padding: 0;
  }
}
.text-bold-general{
  font-family: $font;
  font-size: 17px;
  font-weight: $bold;
  color: $black;
}
.text-light-general{
  font-family: $font;
  font-size: 15px;
  font-weight:$regular;
  color: $gray;
  &.font-14{
    font-size: 14px;
  }
}

.section-form{
  @include respond-to(xs){
    overflow: hidden;
  }
}
.section-card{
  &-item{
    border: 1px solid $shadowColor;
    border-radius: 10px;
    margin-bottom: 2rem;

    &.card-w25{
      width: 25%;
      @include respond-to(xs){
        width: 90%;
      }
      @include respond-to(sm){
        width: 40%;
      }
      @include respond-to(md){
        width: 45%;
      }
      &:nth-child(1){
        margin-right: 1rem;
        @include respond-to(xs){
          margin-right: 0;
        }
      }
    }
  }
  &-paddings{
    padding-right: 2rem;
    @include respond-to(xs){
      padding-right: 0;
    }
    @include respond-to(sm){
      padding-right: 0;
    }
    @include respond-to(md){
      padding-right: 0;
    }
  }
  &-header{
    background-color:$lightgray ;
    border-radius: 10px 10px 0 0;
    padding: .5rem 1rem;
    font-size: 15px;
  
    p{
      margin-bottom: 0;
      @include respond-to(xs){
        font-size: 12px;
      }
      strong{
        @include respond-to(xs){
          font-size: 16px;
        }
      }
    }
  }
  &-textprimary{
    color: #9d3399;
    font-size: 14px;
    font-weight: $medium;
    margin-top: 1rem;
  }
  &-links{
    font-size: 16px;
    font-weight: 700;
    color: #9d3399;
  }
  &-content{
    border-radius: 0px 0px 10px 10px;
    padding: .5rem 1rem;
    p{
      font-size: 12px;
      font-family: $font;
      color: $gray;
      letter-spacing: 0.35px;
      font-weight: $medium;
    }
    span{
      font-size: 14px;
      font-family: $font;
      color: $gray;
      letter-spacing: 0.35px;
      font-weight: $regular;
    }
    ul{
      list-style: none;
      padding-left: 0;
      li {
        strong{
          font-size: 15px;
        }
      }
    }
  }
  &-list{
    list-style: none;
    padding-left: 0;
    li{
      font-size: 12px;
      font-family: $font;
      color: $gray;
      letter-spacing: 0.35px;
    }
  }
}

.section-btns{
  @include respond-to(xs){
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &-items{
    margin-right: 1rem;
    @include respond-to(xs){
      margin-bottom: 1rem;
    
    }
  }
}

.section-table{
  padding: 3rem 0 0 0;
  &-nopadd{
    padding: 0;
  }
  &-content{
    padding: 1rem 0 0 0;

    table{
      width: 100%;
      margin-bottom: 0;
      th, td{
        font-family: $font;
        font-weight: $medium;
        color: $gray;
        font-size: 15px;
        text-align: center;
        padding: .75rem .5rem;
      }
      th{
        border-top: 1px solid $shadowColor;
        border-bottom: 1px solid $shadowColor;
      }
      td{
        text-align: center;
      }
    }
    &.section-table-tabscontent{
      border: 1px solid $shadowColor;
      border-top: 1px solid transparent;
      border-radius: 0 0 10px 10px;
      table{
        th, td{
          font-size: 13px;
        }
        th{
          border-top: 1px solid transparent;
          border-bottom: 1px solid transparent;
        }
        td{
          text-align: left;
        }
      }
    }
    &.section-table-contentbg{
      padding: 0;
      border-radius: 10px;
      border: 1px solid $shadowColor;
    
      thead{
        background-color:$lightgray ;
      }
      th, td{
        font-size: 13px;
      }
      th{
        border-top: 1px solid $white;
        border-bottom: 1px solid $lightgray;
        &:nth-child(1){
          border-top-left-radius: 10px;
        }
        &:nth-last-child(1){
          border-top-right-radius: 10px;
        }
      }
      td{
        text-align: left;
      }
    }
  }
  &-img{
    img{
      width: 60%;
    }
  }
}