// Medias querys
$breakpoints: (
  "xs": "(min-width: 0px) and (max-width: 575px)",
  "sm": "(min-width: 576px) and (max-width: 767px)",
  "md": "(min-width: 768px) and (max-width: 991px)",
  "lg": "(min-width: 992px) and (max-width: 1199px)",
  "xl": "(min-width: 1200px)",
  "wecan":
    "(min-width: 1440px) and (max-width: 1440px) and (min-height: 900px) and (max-height:900px)",
) !default;

// Fonts
$font: "Roboto", sans-serif;
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;
$extrabold: 900;

// Colors
$primary: #9d3399;
$secondary: #ff5202;
$lightgray: #f8f8f8;
$lightprimary: rgba(255, 82, 2, 0.28);
$gray: #474747;
$white: #fff;
$black: #000;
$shadowColor: #dee2e6;

// Utils
$radius: 5px;


$pill-border-radius:  5px !default;
$pill-margin-x:       10px !default;
$pill-margin-y:       15px !default;

$pill-bg:             $white;
$pill-border:         #aeb5bd;
$pill-font:           $primary;

$pill-hover-bg:       $primary;
$pill-hover-border:   $primary;
$pill-hover-font:     $white;

$pill-active-bg:      $primary;
$pill-active-border:  $primary;
$pill-active-font:    $white;


.button-group-pills {
  .btn {
    border-radius: $pill-border-radius;
    line-height: 1.2;
    
    margin-bottom: $pill-margin-y;
    margin-left:   $pill-margin-x;
    
    border-color: $pill-border;
    background-color: $pill-bg;
    color: $pill-font;
    
    &.active {
      border-color:     $pill-active-border;
      background-color: $pill-active-bg;
      color:            $pill-active-font;
      
      box-shadow: none;
    }

    &:hover {
      border-color:     $pill-hover-border;
      background-color: $pill-hover-bg;
      color:            $pill-hover-font;
    }
    
  }
}
